body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
/*background-color:#222831;
*/
background-color: #121013;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}